/* Day 1*/
/* body{
  background-color: bisque;
} */
/* CSS SELECTORS */
/* h1 {
  color: rgb(184, 71, 152);
}
div {
  background-color: blueviolet;
}
#first {
  background-color: coral;
}
.one {
  background-color: #e50e0e;
  border: 2px solid black;
}
* {
  margin: 0;
  padding: 0;
} */
/* PRACTICE SET 1 */
/* .red {
  background-color: red;
  color: white;
} */
/* .one {
  background-color: aqua;
  border: 3px solid palevioletred;
} */
/* #first {
  background-color: blueviolet;
  color: pink;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
} */
/* Day 2 */
* {
  margin: 0;
  padding: 0;
}
.red {
  /* background: blue; */
  background: rgba(170, 40, 90, 0.3);
  color: aquamarine;
}
.green {
  background-color: #b53131;
  color: blue;
}
